{% extends 'financial/base.html' %}

{% block content %}
    <html>
        <head>
            <title>Customer Details</title>
        </head>
        <body>
        <div>
        <table>
        <tr>
            <th>Asset Name</th>
            <th>Asset Symbol</th>
            <th>Number Owned</th>
            <th>Purchase Price</th>
            <th>Purchse Date</th>
        </tr>
            {% for stock in stocks %}
                {% if stock.customer.id == customer.id %}
                    <tr>
                        <td><a href="{% url 'stock_detail' pk=stock.pk %}">{{ stock.name }}</a></td>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.number_of_shares }}</td>
                        <td>{{ stock.purchase_price }}</td>
                        <td>{{ stock.date_purchased }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            {% for cryptocurrency in cryptocurrencies %}
                {% if cryptocurrency.customer.id == customer.id %}
                    <tr>
                        <td><a href="{% url 'cryptocurrency_detail' pk=cryptocurrency.pk %}">{{ cryptocurrency.name }}</a></td>
                        <td>{{ cryptocurrency.symbol }}</td>
                        <td>{{ cryptocurrency.number_of_coins }}</td>
                        <td>{{ cryptocurrency.purchase_price }}</td>
                        <td>{{ cryptocurrency.date_purchased }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
        </body>
    </html>
{% endblock %}