{% extends 'financial/base.html' %}

{% block content %}
    <html>
        <head>
            <title>Customer List</title>
        </head>
        <body>
            <h1>Customer List</h1>
            <button> <a href="{% url 'customer_new' %}">Add Customer</a></button>
            <div>
                {% for customer in customers %}
                    <div>
                        <h2><a href="{% url 'customer_detail' pk=customer.pk %}">{{ customer.name }}</a></h2>
                        <p> {{ customer.street }}</p>
                        <p> {{ customer.city }}</p>
                        <p> {{ customer.state }}</p>
                        <p> {{ customer.zip }}</p>
                        <p> {{ customer.email }}</p>
                        <p> {{ customer.phone }}</p>
                        <p> {{ customer.created }}</p>
                        <p> {{ customer.modified }}</p>
                        <button>Update</button>&nbsp;<button>Delete</button>
                    </div>
                {% endfor %}
            </div>
        </body>
    </html>
{% endblock %}