{% extends 'financial/base.html' %}

{% block content %}
    <html>
        <head>
            <title>Customer List</title>
        </head>
        <body>
            <div>
                <div>
                    <h1>{{ stock.name }}</h1>
                    <p> Stock ID              : {{ stock.id }}</p>
                    <p> Customer Name         : {{ stock.customer.name }}</p>
                    <p> Stock Symbol          : {{ stock.symbol }}</p>
                    <p> Number of Shares Owned: {{ stock.number_of_shares }}</p>
                    <p> Purchase Price        : {{ stock.purchase_price }}</p>
                    <p> Purchase Date         : {{ stock.date_purchased }}</p>
                </div>
            </div>
        </body>
    </html>
{% endblock %}